[2021-02-13 17:42] rupeshmohanty opened #3 "Finding project partners based on your interests"
When an user clicks on the 'Find a Project Partner' then he/she will Register and based on their interests can find projects they can contribute to. The feature should be linked to this button:
![image](https://user-images.githubusercontent.com/43889891/107856757-65d79b80-6e50-11eb-868d-28577b5ca87a.png)

[2021-02-13 17:46] rupeshmohanty opened #4 "Profile page for user"
When the user clicks on his/her name in the navbar he should be able to redirect to a page where they can see all their projects and can edit/delete the posts. They can also edit their Bio there.

[2021-02-13 17:49] #4 closed

[2021-02-13 17:56] rupeshmohanty opened #5 "Full description of a project"
When an user clicks on the more option then they can check the full details including the description, screenshots of the project and how to contact the owner of the project for collaboration.

![image](https://user-images.githubusercontent.com/43889891/107857142-93bddf80-6e52-11eb-904f-0e4f4a281ceb.png)

[2021-02-27 16:20] BeAgarwal opened #6 "Registration Page validations"
Users will be fed up by filling in the details as it is not written that all fields are mandatory.

The label is not there in the upload option.

In every validation, it is showing, "Please fill the details properly!", which is really fed up.

[2021-03-01 11:00] sukhpreet-singh1 commented on #5
can you please assign me this issue?

[2021-03-01 15:04] rupeshmohanty commented on #5
Hey sukhpreet! How do you plan to make the required changes?

[2021-03-01 15:26] sukhpreet-singh1 commented on #5
i can open the description in new page or can expand this only

[2021-03-01 16:10] rupeshmohanty commented on #5
Hey sukhpreet! I have assigned this issue to you

[2021-03-08 14:01] bhavyashukla16 commented on #3
can you please assign this issue to me?

[2021-03-08 17:33] Vansh-Gupta4 commented on #5
can i work on this?

[2021-03-09 06:45] Goheljay commented on #3
I am interested to work on this issue. can I work it?

[2021-03-09 06:56] rupeshmohanty commented on #5
Okay lemme

Yes

[2021-03-09 06:56] rupeshmohanty commented on #5
Yes

[2021-03-09 07:42] #6 closed

[2021-03-09 08:31] subhangi2731 commented on #3
can I work on this?

[2021-03-09 09:43] Sakshi0401 commented on #5
As a GSSOC'21 participant I would like to contribute.
Can you please assign it to me ??

[2021-03-09 11:37] Siddharth1006 commented on #3
@rupeshmohanty I am a GSSOC'21 participant and would love to work on this project.

I had a question:
It is mentioned that when we click the button, we should display a list of projects according to our interests. So, that means we should already have a repository of projects and links to those projects ready with us , so that for a keyword = "Javascript", all javascript based projects should be d

[2021-03-09 14:14] feni-katharotiya commented on #5
@rupeshmohanty Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:15] feni-katharotiya commented on #3
@rupeshmohanty . Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:16] feni-katharotiya commented on #3
@rupeshmohanty  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:46] BeAgarwal opened #8 "Image dump into database"
**Describe the bug**
The profile image should dump into the database rather than saving into the directory.

**To Reproduce**
While registering the user.

**Expected behavior**
The profile photo should dump into the database, as there is no need to store it in the directory.

Assign it to me. @rupeshmohanty

[2021-03-09 15:28] rupeshmohanty commented on #8
Can you please tell me how are you gonna fetch the users profile photo without storing them in a directory?

[2021-03-09 15:34] BeAgarwal opened #9 "Add check-project.php Page"
**Is your feature request related to a problem?**
Have a create the check-project.php page. It will show the full information of the project.

**Describe the solution you'd like**
The Check-project.php page will have the full details related to the project.

**Describe alternatives you've considered**
No other alternative.

**Additional context**
Line 129 in Explore/index.php for **More...** about

[2021-03-09 15:38] rupeshmohanty commented on #5
@Sakshi0401 @Vansh-Gupta4 @feni-katharotiya
Hey guys,
This issue has been assigned to another contributor, so you guys can work on other issues or you can check for other issues in the project and create them and I will assign them to you.

[2021-03-09 15:41] BeAgarwal commented on #8
I will store the profile photo in the database by converting it into the base64 format. And while displaying, it will just like a simple fetch query.

[2021-03-09 15:46] rupeshmohanty commented on #9
I have assigned this issue to you

[2021-03-09 15:48] rupeshmohanty commented on #8
I have assigned this issue to you, please send me a screenshot of the working changes once you are done

[2021-03-09 23:50] asmitsirohi opened #10 "'bio' attribute of 'users' entity doesn't have a default value"
While registering into Leskollab there is an error occurred "Field 'bio' doesn't have a default value".
Also the bio column is not available in register modal.

[2021-03-10 07:25] BeAgarwal commented on #8
I want to know one thing. This process is increasing the computational speed. I have gone through many articles, all are saying that we can do it but it is not preferable to use.
So, whether will it be good for this project? If not, I will close this issue.

[2021-03-10 08:07] Nikitha2309 commented on #3
### Proposal

I am a GSSoC'21 participant and I want to work on this issue. Please assign this issue to me.

### Protocol

To fix this issue, a basic form ( similar to that in index.php of this project ) is to be implemented and required fields are collected as inputs. The button "Find a Project Partner" will link to this pop-up modal form or page.

Looking forward to getting this Issue assigned t

[2021-03-10 13:24] rupeshmohanty commented on #3
Hey guys, This issue has been assigned to one contributor for the time being, so try to solve other issues or try to create your own issues and contribute.

And while contributing please use the issue template provided.

[2021-03-10 15:32] asmitsirohi commented on #10
While registering there is no 'bio' column. You can check in attached screenshot.

![image](https://user-images.githubusercontent.com/63240102/110654085-d53c7300-81e3-11eb-8c76-dbe489ba633d.png)

This error is occured while creating account.
![Screenshot_2021-03-10 Screenshot](https://user-images.githubusercontent.com/63240102/110654200-ef765100-81e3-11eb-8ab2-cddab307f776.png)

[2021-03-10 19:05] #8 closed

[2021-03-11 07:34] khareyash05 opened #12 "add contributing.md"
Hi! I would like to add contributing.md to the repo which states on how to clone and fork the repo,how to add ,create and push a repo,squash commits,rebase your feature branch ,how to update forked repo as well as local repo to the changes made in upstream.
I would like to work on this under GSSOC'21.

[2021-03-11 08:04] aashishah opened #13 "Design and code: Make UI of front-page responsive and attractive."
Describe the issue: I'd like to make the landing page more attractive and responsive to all devices using JS, HTML?CSS.
Expected behavior: Landing page changes to make the website more user-friendly and responsive.

[2021-03-11 14:38] Debashish-hub opened #14 "Adding a chatbot"
Describe the issue: **Adding a chatbot**
Expected behavior: **Chatbot is one of the common things present in website which increases the customer interaction. There could be some person to reply back or a bot to reply to faqs**

I would like to work on it as a participant of GSSOC'21

[2021-03-11 19:05] oneknucklehead commented on #13
I'd like to get assigned to this issue, can I get assigned on this issue under GSSoC'21?

[2021-03-12 10:52] rk05-lenavo commented on #5
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 11:28] CoderGaurav01 opened #15 "About Us page missing"
In the nav-bar the About Us link is unresponsive.
Can create a modal or create a link to new page or add further block of div element in the landing page itself

[2021-03-12 12:14] CoderGaurav01 commented on #15
As a GSSOC'21 participant I would love to work on this issue.

[2021-03-12 14:11] rohank2502 opened #16 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:11] rohank2502 opened #17 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-13 20:33] Raghad-Khaled opened #18 "improve the schema (add new relation in SQL )"
Describe the issue: in the relation Projects attribute tag not an atomic value I suggest to normalize it to be good schema and (we can filter project after that acording their stack)
How to reproduce the issue: create new relation(table) that has stacks and new relation to has projects and their stacks (it is more clear in image below) and this edit will need some changes in post-project.php file

[2021-03-14 05:35] rupeshmohanty commented on #18
Can you explain me how exactly the output is gonna be?

[2021-03-14 05:35] satcasm opened #19 "Discord invite link expired."
The discord invite link mentioned in the readme.md may be expired. I would suggest the maintainers to either change it with a new link or remove from the readme.
Thanks!

[2021-03-14 05:36] rupeshmohanty commented on #17
Hey Rohan,
I have assigned this issue to you and have also added the label!

[2021-03-14 05:38] rupeshmohanty commented on #16
Hey Rohan,
That's a really nice idea. I have assigned this issue to you!

[2021-03-14 05:39] rupeshmohanty commented on #15
Hey Gaurav,
I have assigned this issue to you!

[2021-03-14 05:40] rupeshmohanty commented on #14
Hey @Debashish-hub,
Are you gonna use an external API for that or are you gonna make one?

[2021-03-14 05:42] rupeshmohanty commented on #13
Hey @aashishah, I have assigned this issue to you!

[2021-03-14 05:43] rupeshmohanty commented on #13
Hey @oneknucklehead, Someone is already working on this issue, so you can either work on the other issues or you can create your own.

[2021-03-14 05:45] rupeshmohanty commented on #5
Hey @rk05-lenavo, This issue has already been assigned to another contributor, so please try some other issue or create your own issue.

[2021-03-14 06:54] satcasm opened #20 "Spacing issue in post an idea form."
If you go to the ```post an idea``` link. The screenshots field in getting merged with the input field.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/56315878/111058692-1075c500-84b6-11eb-9b41-27de11eb3a35.png)

Would like to improve upon it under GSSOC' 21.
Thanks!

[2021-03-14 06:59] satcasm opened #21 "Hamburger menu"
Would like to change the color of  hamburger icon so that navigation becomes easy for smaller devices.
Currently it's not clearly visible , you have to hover over it , then only you can see the icon.

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/111060138-c2b28a00-84c0-11eb-8191-e8536300af57.png)

Would like to work on it under GSSOC' 21.
Thanks!

[2021-03-14 07:16] CoderGaurav01 commented on #15
which option should be better :
- including the content in the landing page
- creating a new about-us page
- using a modal ?
And what should be the content?

[2021-03-14 07:56] Raghad-Khaled commented on #18
it will not change any thing in Ui of the project it will only change how the schema store the data so after that we can add filter on the projects by their stack
and I think in more feature that enable user to search for projects suits their stack and that will not be applicable without change the data base schema
I hope that is clear now

[2021-03-14 08:13] rupeshmohanty commented on #21
Hey @satcasm, this issue has been assigned to you!

[2021-03-14 08:15] rupeshmohanty commented on #18
For that you have to write a backend code too. So changing the database will not be sufficient to fix this issue.

[2021-03-14 08:16] rupeshmohanty commented on #15
Go with whichever option you like and for now put Lorem Ipsum text in the About us page.

[2021-03-14 10:36] Raghad-Khaled commented on #18
yes I know , I mentioned that need  changes in post-project.php file

[2021-03-14 10:57] satcasm commented on #21
Hey @rupeshmohanty is adding a level tag on the issues not necessary ?
I was reading the GSSOC guidelines and it suggested that each issue should be divided on 3 levels, then only the PR would considered valid. Feel free to correct me if I am wrong.
Thanks!

[2021-03-14 11:13] rupeshmohanty commented on #18
Okay I am assigning this issue to you!

[2021-03-14 11:24] rupeshmohanty commented on #21
Yeah I just saw that. Let me just add that

[2021-03-14 11:28] satcasm commented on #21
Can you tell me why there are 2 assets folders?

[2021-03-14 11:38] satcasm commented on #21
Hey @rupeshmohanty what should I do about the ```db.php``` file? Should I add it in a```.gitignore``` file?

[2021-03-14 11:40] rupeshmohanty commented on #21
Yes it should be added to the ```.gitignore``` file, cause you this project has different database configuration.

[2021-03-14 14:51] Debashish-hub commented on #14
I will be using an external API, as I don't have much knowledge to create it.

[2021-03-14 17:23] satcasm commented on #21
Closing the issue as PR is merged.

[2021-03-14 17:23] #21 closed

[2021-03-14 17:55] #16 closed

[2021-03-15 07:35] manognyaa opened #27 "changes in the read me file."
I am gssoc'21 Participant.

I would like to correct the spelling ("collborators") => ("collaborators") in this read me file.

![image](https://user-images.githubusercontent.com/77045147/111118297-982f0280-858e-11eb-81cc-b71f02555fd9.png)

Please assign me this work .
@rupeshmohanty @AshutoshGeek

[2021-03-15 07:35] hardikvarshney commented on #20
As a GSSoC' 21 participant. I would like to work on it.

[2021-03-15 09:45] sakshi300699 commented on #27
@manognyaa this is a really minor fix. Try to come up with some significant changes, I request you to please close this issue.

[2021-03-15 10:03] #27 closed

[2021-03-15 16:24] #15 closed

[2021-03-15 16:36] anika-001 commented on #12
Since contributing.md is already added, kindly close the issue.

[2021-03-15 17:57] CoderGaurav01 opened #28 "Create Edit Profile page"
**Describe the solution you'd like**
Creating an 'edit profile' option in the user dashboard

**Describe alternatives you've considered**
The edit details form can be a modal or a new webpage.

**Additional context**
According to me some user data should be readonly like email, while name, bio etc. fields should be editable. An additional option for change password can be given.

[2021-03-15 17:58] CoderGaurav01 commented on #28
I would like to work on this issue under GSSOC'21

[2021-03-15 18:48] sakshi300699 commented on #28
Seems interesting @CoderGaurav01 , Go ahead with this.

[2021-03-15 18:57] #12 closed

[2021-03-16 05:48] hardikvarshney opened #29 "Footer missing in home page"

[2021-03-16 08:45] anika-001 commented on #20
Go ahead @satcasm

[2021-03-16 09:02] sakshi300699 commented on #29
You can go ahead with the issue @hardikvarshney

[2021-03-16 12:15] deeptea22 opened #30 "Logout Error"
Describe the issue: Logout Button throws error. Not sure if everyone is facing this problem.
How to reproduce the issue: When clicking on the logout button, php throws an error
Expected behavior: Supposed to display message "Logged out successfully"
Proof of issue(Screenshot/Location where to find the issue):
![image](https://user-images.githubusercontent.com/67323371/111307350-4fa34200-867f-11eb-

[2021-03-16 18:29] sahilempire opened #32 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will **update contributor list** in README.md **automatically** !! Will start to work on this issue **as soon as I get assigned !**

Thank You.

[2021-03-16 18:53] sakshi300699 commented on #32
@sahilempire This issue has already been created and assigned to another participant. Refer issue #17 for that. Kindly look for another issue.

[2021-03-16 19:00] sahilempire commented on #32
@sakshi300699 okay then, I'm closing this issue.

Thank you.

[2021-03-16 19:00] #32 closed

[2021-03-16 19:38] #14 closed

[2021-03-17 10:27] Nishayadav-bit commented on #20
Hey !
I am a GSSOC'21 participant.
Can i work on this issue.

[2021-03-17 10:44] sakshi300699 commented on #20
@Nishayadav-bit This issue has already been assigned. Please look for some other issue.

[2021-03-17 12:42] Inventor77 commented on #28
Can I also contritbute to this since its level three issue will be solved fast if two work on same

[2021-03-17 14:52] Subhampreet opened #34 "UI Improvement ("Project Idea" Card)"
**Describe the bug**
The "Project Idea" Card is too simple. It can have a project repository icon, also social media handles of the project idea raiser for further communication, also the card UI can be improved to match the whole UI of the page.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome
 - Version 89.0

[2021-03-17 17:32] #19 closed

[2021-03-17 18:43] capblack222 opened #36 "Changes in the Login/Register pop-up"
Describe the issue: The design of that pop-up is way to simple and also there is a constraint applied on it which make it change the pop from login to register.
How to reproduce the issue: There could be some styling added to the login and register buttons to show which one is active and also some more styling to it, like some font change and some more styling.

And please assign this issue to me.

[2021-03-17 18:59] Raghad-Khaled opened #37 "Edit the Project info"
**Is your feature request related to a problem? Please describe.**
there will be pop up window as Post project (get when clicked edit button that will be beside delete button) and has the information of the project and button call save which save the new data of project

[2021-03-17 20:43] satcasm commented on #20
Closing the issue as PR is merged.

[2021-03-17 20:43] #20 closed

[2021-03-18 04:41] anika-001 commented on #36
Go ahead @capblack222

[2021-03-18 06:13] lipsa199 opened #38 "Toggle content /contact us/scrolling issue"
Describe the issue:
 **when the webpage minimizes after that if you click the Toggle button for opening navbar then there scrolling is not working hence the 'contact us ' is not visible properly  **
![IMG20210318113902](https://user-images.githubusercontent.com/76063097/111581890-0fa7a080-87e0-11eb-9403-56a21e332144.jpg)

[2021-03-18 08:29] satcasm opened #39 "Background color of buttons is messed up"
It seems when I fixed #21 , it messed up the background-color of other buttons too. I apologize for not paying attention to it at that moment.
Would like to fix it under GSSOC' 21.
Thanks!

Screenshot reference:
![image](https://user-images.githubusercontent.com/56315878/111595381-163f1380-87f2-11eb-81ff-1fa5c65d788d.png)

[2021-03-18 09:34] #17 closed

[2021-03-18 10:20] rupeshmohanty commented on #38
This is the official site of our organization and this has not been registered as a GSSOC Project. So you can't contribute in this one.

[2021-03-18 10:20] #38 closed

[2021-03-19 12:21] simranbhalla3 commented on #39
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 12:22] simranbhalla3 commented on #29
Can i work on this issue? I can make footer using css and js , I am a Gssoc participant

[2021-03-19 12:22] simranbhalla3 commented on #28
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 12:25] simranbhalla3 commented on #13
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 13:23] rupeshmohanty commented on #13
Hey @simranbhalla3, This issue has been assigned to someone else. You can either work on other issues or you can create your own issues.

[2021-03-20 16:31] arpit456jain opened #40 "(gsoc'21) Mess in the responsiveness in phone view"
**Describe the bug**
There is a total mess in the phone view.
Navbar is messed up. button is messed up and background image is also messed up in short almost whole page is messed up in phone view . It is looking like this in phone view.
<img width="960" alt="les1" src="https://user-images.githubusercontent.com/55352601/111877000-3b38af80-89c7-11eb-90e3-d74f975aafe3.png">
<img width="960" alt="les2

[2021-03-20 16:49] rupeshmohanty commented on #39
This works fine in my system.

[2021-03-20 16:49] #39 closed

[2021-03-20 16:51] sakshi300699 commented on #40
@arpit456jain You can go ahead with this!

[2021-03-20 16:58] rupeshmohanty commented on #37
Already a modal is coming up when the post project option is clicked. And the delete post functionality exists too. So you can work on the edit the post part if you want to.

[2021-03-20 21:02] Raghad-Khaled commented on #37
Yes, I want to work on edit post

[2021-03-21 11:29] arpit456jain commented on #40
@sakshi300699  Mam I had  solved this issue and created the pull request please check it i had also attached a video with it for reviewing it. Please check it.

[2021-03-21 12:11] sakshi300699 commented on #40
Sure @arpit456jain !

[2021-03-21 14:31] capblack222 commented on #36
Can I change the layout of the website like split the login and register buttons as the carousel makes like a slide show in the modal which makes it go back and forth after some time, so can I ? @anika-001

[2021-03-21 16:06] asmitsirohi commented on #10
#11

[2021-03-21 16:26] asmitsirohi opened #43 "Uploaded files should have unique name!"
While uploading profile pic or project pic there will be high chance that more than one pic can have same name.
Currently, If a random user uploaded different pic with same name it shows "Some error occurred while uploading your pic!"

Solution : While uploading a pic, unique name will we given to a particular pic.

[2021-03-21 16:27] asmitsirohi commented on #43
please assign this issue to me under GSSOC'21

[2021-03-21 16:28] asmitsirohi commented on #10
In pull request #11, I already resolve this issue.

[2021-03-21 17:47] anika-001 commented on #36
Yes, that would be nice! Go ahead @capblack222 .

[2021-03-21 17:50] capblack222 commented on #36
Great! I will get on with it then!

[2021-03-21 18:38] capblack222 commented on #36
May I inculcate some Styling and font changes too? to make it look more attractive?

[2021-03-22 00:12] anika-001 commented on #36
Yes that would be great! Reviewing your changes currently.

[2021-03-22 08:38] rupeshmohanty commented on #37
Then let me assign this issue to you.

[2021-03-22 08:48] #30 closed

[2021-03-23 16:03] #40 closed

[2021-03-23 16:49] sakshi300699 opened #46 "Design a Logo for LesKollab"
<b>Create and design a logo</b> describing the website <b>LesKollab</b>, which would be added in the NavBar, Footer and Beside the name of the website.

[2021-03-24 07:00] ishubham21 commented on #43
@asmitsirohi A suggestion from our side - To implement this feature, you can append the timestamp of each image with the name of that respective image.

[2021-03-24 11:12] asmitsirohi commented on #43
Ok...I will consider that...

[2021-03-24 15:23] #36 closed

[2021-03-25 05:28] capblack222 opened #47 "UI&UX changes on index.php"
Adding and modifying the styles and fonts on the navbar and the front page on index.php
Make it look more attractive and adorning.

[2021-03-25 08:25] sakshi300699 commented on #47
@capblack222 You can go ahead with this!
Don't forget to add Screenshots of the changes you make in the PR.

[2021-03-25 15:54] Inventor77 commented on #29
@sakshi300699 Please mam assign me this issue I have Ideas to create  Footer with some normalized user friendly Animations

[2021-03-25 16:03] hardikvarshney commented on #29
It is to bring to your notice that, I had created PR for this issue it was approved by all the mentors and was successfully merged.
Mentors are requested to close this issue.

[2021-03-25 16:30] sakshi300699 commented on #29
@Inventor77 This issue has already been worked on. Please see to the issues which have not been worked on or create another issue describing your idea.

[2021-03-25 16:31] sakshi300699 commented on #29
This issue is closed.

[2021-03-25 16:31] #29 closed

[2021-03-26 15:11] muthuannamalai12 opened #49 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 16:53] sakshi300699 commented on #49
@muthuannamalai12 It's not a requirement as of now. Please look out for some other issue or create any other relevant issue.

[2021-03-26 16:53] #49 closed

[2021-03-27 06:33] #10 closed

[2021-03-27 06:35] #3 closed

[2021-03-27 06:47] hardikvarshney commented on #46
I want to work on this issue.

[2021-03-27 07:59] sakshi300699 commented on #46
@hardikvarshney You can go ahead with this!

[2021-03-28 07:17] hardikvarshney commented on #46
![logo1](https://user-images.githubusercontent.com/76947310/112745077-44c3a800-8fc3-11eb-8d51-ed16c7b8bbd3.png)
This is the brand logo I have chosen for the website.

[2021-03-28 11:02] sakshi300699 commented on #46
@hardikvarshney The design looks great!
You can go about adding this logo to the Navbar, Footer and Beside the name of the Tab and make a PR.

[2021-03-28 17:32] aditi1403 opened #52 "Update README.md file"
I have made some grammatical edits to the REDAME.md file. Kindly refer to PR #51.

[2021-03-28 19:21] arpit456jain opened #53 "Gssoc'21 Password validation by js in Register page"
**Is your feature request related to a problem? Please describe.**
Password validation by js in Register page is required for secured and strong password.
**Describe the solution you'd like**
It will look some thing like this.
<img width="960" alt="les" src="https://user-images.githubusercontent.com/55352601/112765020-d1ed1800-9028-11eb-9d65-054c024d2083.png">

**Describe alternatives you've consi

[2021-03-28 19:23] arpit456jain opened #54 "Contact Us section"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There should be a contact us page or section in website where user  can contact if he/she have any query. with validations

**Describe the solution you'd like**
I can make a separate page or add it in same page
**Describe alternatives you'v

[2021-03-29 10:26] #52 closed

[2021-03-29 10:26] #46 closed

[2021-03-29 10:51] RubenFalcao14 opened #55 "Discord logo is not working."
If you press the discord logo it shows that either the link is invalid or has expired .
I would fix the issue by add a link that is non expiring and one through which endless people can join.

I'm a GSSOC'21 participant and I would love to fix the issue.

[2021-03-29 10:53] RubenFalcao14 opened #56 "There is no full stop at the end of the sentences."
![IMG_20210329_162233.jpg](https://user-images.githubusercontent.com/79042516/112826722-fdb0e200-90aa-11eb-84ca-4b34477fe68e.jpg)

I'm a GSSOC'21 participant and I  would like to add the full stop at the various places and fix the issue.

[2021-03-29 15:13] hardikvarshney commented on #54
I want to work on this issue.

[2021-03-29 15:50] arpit456jain commented on #54
@rupeshmohanty sir kindly assign it to me I am gssoc'21 participant So I can create a PR.
I had already made contact section just waiting for your confirmation.

[2021-03-29 17:19] rupeshmohanty commented on #54
@hardikvarshney Someone is already working on this issue. So you can work on other issues.

[2021-03-29 17:22] hardikvarshney commented on #54
Okay

[2021-03-29 17:29] rupeshmohanty commented on #55
That discord server is not active right now, so I have removed that from the readme.

[2021-03-29 17:29] #55 closed

[2021-03-29 18:12] arpit456jain commented on #54
@rupeshmohanty kindly suggest me should i make a separate page for contact section or a modal in same page
like login/sign up

[2021-03-30 05:53] arpit456jain commented on #54
@rupeshmohanty kindly review my PR #57

[2021-03-30 12:16] arpit456jain commented on #53
@rupeshmohanty kindly assign it to me.

[2021-03-30 13:32] arpit456jain commented on #53
@rupeshmohanty kindly review my PR #57  so I can work on this issue

[2021-03-31 02:48] asmitsirohi opened #58 "Complete Info of loggedin User!"
There should be a option available, where logged in user can change his/her username or GitHub link or LinkedIn link or Bio or DP.
Also, there should be a separate page where user can monitor all his/her profile.

To solve this issue there should be new page "user_info.php" attached with user's name at navigation bar, where users can manage their profile.

![image](https://user-images.githubuserco

[2021-03-31 02:49] asmitsirohi commented on #58
please assign this issue to me under GSSOC'21

[2021-03-31 02:50] asmitsirohi commented on #43
In pull request #48, I already resolved this issue.

[2021-03-31 08:26] asmitsirohi opened #59 "Organized Code!"
Whenever other contributor want to contribute new feature then he/she have to repeat code of header, footer, navbar and modal.

Solution: There should be separate files for header, footer, navbar and modal in components folder.

[2021-03-31 08:26] asmitsirohi commented on #59
please assign this issue to me under GSSOC'21

[2021-03-31 18:03] Inventor77 commented on #58
@asmitsirohi Can I work with you on this Issue

[2021-04-01 03:25] asmitsirohi commented on #58
@Inventor77 Actually, I have already done 80% of the required work. But you can further improve it when I'm done with it.

[2021-04-01 04:07] Inventor77 commented on #58
@asmitsirohi I just wanted to Learn this thing please Let me Work with you. No need of Assigning me on this Issue also i don't want any Points. Just to learn how this is made😁😁

[2021-04-02 07:09] asmitsirohi commented on #59
@rupeshmohanty sir, please review it.

[2021-04-03 14:55] #54 closed

[2021-04-03 18:17] arpit456jain opened #61 "[Gssoc'21] show password button"
**Is your feature request related to a problem? Please describe.**
There must be a show password button in both login/signup.

**Describe the solution you'd like**
I can add that and write some js for it.

[2021-04-04 04:34] hardikvarshney opened #62 "Missing! Login functionality for Admin."
@sakshi300699, We have created "Contact us" section but the message or query send by the users should be visible to a particular person(Admin). So, according to me there should be an admin login and after that admin functionality should be there in our website.

[2021-04-04 06:01] sakshi300699 commented on #62
@hardikvarshney where are you going to display the message to the Admin?

[2021-04-04 09:15] hardikvarshney commented on #62
Messages sent by the user would be displayed on admin dashboard.

[2021-04-04 09:22] sakshi300699 commented on #62
So basically you are planning on to build a dashboard for the admin, right?

[2021-04-04 09:41] hardikvarshney commented on #62
Exactly, because without admin panel messages or query sent by our user will only get stored in our database. Nobody would see them(query) and respond back to the user.

[2021-04-04 09:45] sakshi300699 commented on #62
That's great!

[2021-04-04 09:48] hardikvarshney commented on #62
So, can I work on this.

[2021-04-04 09:49] sakshi300699 commented on #62
You can start working on this as soon as the Project Admin assigns this to you.

[2021-04-04 09:50] hardikvarshney commented on #62
Okay.

[2021-04-04 17:59] rupeshmohanty commented on #59
This change in folders can lead to mix up and the application might crash.

[2021-04-04 18:05] hardikvarshney commented on #62
@rupeshmohanty please add the level of this issue.

[2021-04-05 04:30] asmitsirohi commented on #59
But, sir I'm planning to make changes only in Explore folder, where only index.php file is present. All the components (which could be repeated i.e header, footer, modals, navbar in other files as well) of index.php file is save in components/common folder just like message.php file.
After doing this, These components is easily included in other files also this reduces the repeatable code.

These

[2021-04-05 04:50] rupeshmohanty commented on #59
Okay you can work on this issue. But provide a screen recording of the application after you solve this issue.

[2021-04-05 04:51] #56 closed

[2021-04-05 04:51] asmitsirohi commented on #59
Definitely sir..

[2021-04-05 05:51] hardikvarshney commented on #62
#63

[2021-04-05 05:54] hardikvarshney opened #64 "Admin Dashboard showing number of projects, users and number of messages by users."
We have created a login page for admin. Now there should be a page for admin which shows number of users registered, number of projects on website and number of messages that are sent through contact us form.
On admin dashboard there will be a navbar, sidebar(showing links of logout, dashboard and view messages) and a main content on other side of page.

[2021-04-05 09:49] #53 closed

[2021-04-05 15:51] rupeshmohanty commented on #64
@hardikvarshney Try to describe the issue properly using the issue template provided.

[2021-04-05 16:02] hardikvarshney commented on #64
Issue described.

[2021-04-06 11:13] heyankit78 opened #67 "Login With Google"
Describe the issue: **login by google**
How to reproduce the issue: **in login section**
Expected behavior: **user can login by google directly without any filling details**
I want to work on this @sakshi300699
Please assign me

[2021-04-06 15:19] Inventor77 commented on #58
@rupeshmohanty Sir its been many days and yet it is not solved, if @asmitsirohi is not working on it  can I take this Issue

[2021-04-06 15:21] Inventor77 commented on #13
@rupeshmohanty Sir can I work on this Issue its been many days and yet it is not Solved. Please Assign It to me

[2021-04-06 16:29] asmitsirohi commented on #58
@Inventor77 I'm working on it.

[2021-04-07 15:11] rupeshmohanty commented on #58
@Inventor77 This issue has been assigned to @asmitsirohi, so let him work on it and you can work on some other open issues or you can create your own issue.

[2021-04-07 15:47] #61 closed

[2021-04-07 15:48] sakshi300699 commented on #67
@heyankit78 You can go ahead with this!

[2021-04-07 16:32] #18 closed

[2021-04-07 17:19] hardikvarshney opened #68 "Updation required in contact table."
There is no primary key constraint in "contact" table. And it is mandatory to have a primary key in a table.

[2021-04-07 18:09] arpit456jain opened #69 "[Gssoc'21] Dark mode with toggle button."
**Is your feature request related to a problem? Please describe.**
I want to add Dark mode on index.php the main page with toggle button. like this.
<img width="960" alt="Untitled" src="https://user-images.githubusercontent.com/55352601/113913824-6b22e800-97fa-11eb-8972-efaf31e83105.png">

[2021-04-08 10:17] Ananyaagupta commented on #37
is the issue still open? i would like to work/collaborate too. @rupeshmohanty

[2021-04-08 10:18] Ananyaagupta commented on #13
i would like to work on the issue aswell if its still open.

[2021-04-08 13:31] hardikvarshney commented on #68
@rupeshmohanty can you please assign this issue to me.

[2021-04-08 17:19] hardikvarshney commented on #68
PR#71

[2021-04-08 18:59] arpit456jain opened #72 "[Gssoc'21] 404 page"
**Is your feature request related to a problem? Please describe.**
There was no 404 page .
I want to make a 404.html page for website

[2021-04-08 19:12] arpit456jain opened #73 "[Gssoc'21] Imporve the footer"
**Is your feature request related to a problem? Please describe.**
I want to improve the ui/ux of footer as it is currently very dull.

[2021-04-09 06:33] rupeshmohanty commented on #37
@Ananyaagupta Someone is already working on this issue, you can work on some other issue or you can create your own issue.

[2021-04-09 06:36] rupeshmohanty commented on #13
@aashishah Are you working on this issue or should I assign this one to someone else?

[2021-04-09 06:50] #69 closed

[2021-04-09 06:50] #59 closed

[2021-04-09 06:50] #43 closed

[2021-04-09 06:53] oneknucklehead commented on #13
If @aashishah isn't working on this issue, can I get assigned to it?

[2021-04-09 06:59] arpit456jain commented on #69
@rupeshmohanty i am sorry i don't know how i closed that pr its by mistake.
What should i do now. Can it be reopened?

[2021-04-09 07:07] arpit456jain commented on #69
@rupeshmohanty  kindly reopen the  issue if possible

[2021-04-09 07:55] aashishah commented on #13
@rupeshmohanty You can unassign me, sorry for the inconvenience.

[2021-04-09 07:58] Inventor77 commented on #13
Mentor please let me Work on this Issue, I will do it as soon as possible

[2021-04-09 11:09] arpit456jain opened #75 "[GSSoC'21] adding dark mode with toggle button"
I want to add a dark mode to the website as i had already raised this issue before and made a PR but by mistake i closed the PR and issue was also closed i had already added this feature to website just had to make a PR

[2021-04-09 11:10] arpit456jain commented on #75
@rupeshmohanty kindly assign me this issue again sorry for inconvenience seriously I don't know how i closed that PR its my work of 3 hours how can i closed it i can't believe my self.

[2021-04-09 13:39] rupeshmohanty commented on #75
@arpit456jain Did that PR get accepted?

[2021-04-09 13:46] arpit456jain commented on #75
<img width="960" alt="les" src="https://user-images.githubusercontent.com/55352601/114189537-ece45400-9967-11eb-868c-e5cabceb6dbf.png">

This was the PR you added the labels and request the changes.
This morning when I saw you closed the issue then I notice may be I had closed the PR by mistake

[2021-04-09 13:49] rupeshmohanty commented on #75
There was already a PR for this issue, so that's why I closed this issue.

[2021-04-09 14:01] arpit456jain commented on #75
no sir I think some misunderstanding happens.
1 .I had raised a issue for adding dark mode which was assign to me.
2 I had created a PR for that.
3 then last night by mistake I had closed the PR.
4 This morning you closed my previous issue for that may be because I had closed the PR.
5. Then I created this new issue for dark mode.

If some else is working on this then I have no problem.
Otherwise

[2021-04-09 16:59] arpit456jain commented on #75
@rupeshmohanty kindly assign me this issue if possible

[2021-04-10 06:13] rupeshmohanty commented on #13
@oneknucklehead @Inventor77 @simranbhalla3 @Ananyaagupta I want to hear your ideas on how to solve this issue and how much time do you guys need to implement it.

[2021-04-10 06:14] Inventor77 commented on #13
Yes sir

[2021-04-10 06:20] arpit456jain commented on #75
Thank you @rupeshmohanty

[2021-04-11 06:44] hardikvarshney opened #78 "Validation Required in "contact us" form."
Currently "Phone Number" field in contact us form is taking both text and numbers but it should take only numbers.

[2021-04-11 06:44] hardikvarshney commented on #78
I want to work on this issue.

[2021-04-11 11:36] #75 closed

[2021-04-11 12:10] arpit456jain commented on #72
@rupeshmohanty I had written the code to handle 404 error.
now i just wanted to ask should i make the 404 page from scratch or i can take it from internet which is freely available ? like i found this one. its looking pretty good
<img width="960" alt="404" src="https://user-images.githubusercontent.com/55352601/114303692-0f53aa00-9aed-11eb-82f0-ccbe41071229.png">

[2021-04-11 12:13] arpit456jain commented on #72
<img width="960" alt="4042" src="https://user-images.githubusercontent.com/55352601/114303774-6194cb00-9aed-11eb-91e3-eb228a08d2f4.png">

this one is also good

[2021-04-11 16:50] asmitsirohi commented on #58
I have successfully completed the task!
Here is the screenshot,
![Screenshot_2021-04-11 LesKollab - User Info](https://user-images.githubusercontent.com/63240102/114313310-b21f1f00-9b13-11eb-8641-026b0b7fde8d.png)

But, when I try trying to import updated schema just to make final checks, I got some errors in updated schema..
Here is screenshot of errors
![image](https://user-images.githubusercont

[2021-04-12 04:32] arpit456jain commented on #72
@sakshi300699 can you please guide me on this.

[2021-04-12 04:47] ishubham21 commented on #72
I guess it would be better if you could design a page from scratch, this would ensure a uniform theme and UI across the website.

[2021-04-12 04:52] arpit456jain commented on #72
ok

[2021-04-12 05:26] arpit456jain commented on #72
https://user-images.githubusercontent.com/55352601/114344443-791b9480-9b7d-11eb-98d0-ab7203e9f425.mp4

@ishubham21 how is it now?

[2021-04-12 09:54] arpit456jain commented on #73
@rupeshmohanty kindly review my PR

[2021-04-12 16:12] sakshi300699 commented on #72
@arpit456jain This is looking good!
what do u think @rupeshmohanty @ishubham21 @anika-001 ?

[2021-04-12 16:22] arpit456jain commented on #72
No @sakshi300699  i had taken help from code pen

[2021-04-12 16:24] arpit456jain commented on #72
@sakshi300699 kindly review my PR #80

So i can make a PR for this

[2021-04-12 16:35] arpit456jain commented on #72
@ishubham21 kindly review my open pr #80
 So i can make pr for this

[2021-04-12 17:26] #68 closed

[2021-04-12 17:30] sakshi300699 commented on #72
Sure!

[2021-04-13 03:30] hardikvarshney commented on #78
#81

[2021-04-13 07:17] hardikvarshney opened #82 "Enhancement required in Navbar on Explore/index.php."
1. Brand Logo Missing on it.
2. When on small screen, items(User, Post a Project and Logout) on navbar fade out. They can be made more readable.
![Screenshot (86)](https://user-images.githubusercontent.com/76947310/114512109-5c06c480-9c56-11eb-8336-0eed5623fc25.png)

[2021-04-13 07:21] #62 closed

[2021-04-13 13:19] Priyanshujha11 opened #83 "Adding dark mode"
Adding dark mode to enhance user experience

[2021-04-13 13:35] #73 closed

[2021-04-13 14:26] rupeshmohanty commented on #83
@Priyanshujha11 This feature has already been implemented. You can work on some other issue or create a new issue.

[2021-04-14 03:12] hardikvarshney commented on #82
#85

[2021-04-14 03:55] hardikvarshney commented on #82
#86

[2021-04-14 05:46] arpit456jain opened #87 "Preloader"
**Is your feature request related to a problem? Please describe.**
Some time it takes a little bit time to load tha page and required files for it and its very frustration to wait for it
In that case if a preloader is on the website it will improve the user interface

**Describe the solution you'd like**
I would like to add a preloader which will fade out in 1 or 2 sec after loading the page

**De

[2021-04-14 05:50] arpit456jain opened #88 "(GSSOC 21)Faq section"
**Is your feature request related to a problem? Please describe.**

There is very less information about the website and the goal of the website , how to add Project because until a user is logged in he is not able to see the page to add Project

**Describe the solution you'd like**
I would like to add a faq section just below about section you can add the question and ans to it

**Describe altern

[2021-04-14 06:54] sakshi300699 commented on #67
@heyankit78  Updates on this?

[2021-04-14 07:02] heyankit78 commented on #67
Hello, I am working on these..for exam and as a beginner i am taking time
more.

On Wed, Apr 14, 2021 at 12:25 PM Sakshi Bhandarkar ***@***.***>
wrote:

[2021-04-14 13:54] anirudhsai20 opened #89 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-04-14 13:54] anirudhsai20 commented on #89
Hi! Please assign this issue to me under GSSOC.

[2021-04-14 14:30] #83 closed

[2021-04-14 15:16] #72 closed

[2021-04-14 16:39] arpit456jain commented on #5
@rupeshmohanty 	can I give it a try ? its been a month you assigned this issue

[2021-04-14 16:45] arpit456jain commented on #78
@hardikvarshney I think your PR is got merged , so you can close this issue as it creates confusion

[2021-04-14 16:46] #78 closed

[2021-04-14 16:47] #82 closed

[2021-04-14 17:27] rupeshmohanty commented on #5
@sukhpreet-singh1 You still working on this? Any updates?

[2021-04-15 03:39] hardikvarshney commented on #64
#91

[2021-04-15 04:44] hardikvarshney opened #92 "View Messages link on Admin panel."
"View Message" link will provide the facility to view messages of users that come through "Contact Us form". It will fetch the data from database. Currently no such link is there.

[2021-04-15 04:45] hardikvarshney opened #93 "Logout button for Admin."

[2021-04-15 04:50] rupeshmohanty commented on #93
@hardikvarshney You could have created the logout button along with the dashboard. Why didn't you do that?

[2021-04-15 05:01] hardikvarshney commented on #93
I have not added because designing dashboard(specially the sidebar) has taken enough time. And I think coding of 3 pages(full design and development) is enough for level 3 issue.

[2021-04-15 05:03] rupeshmohanty commented on #93
Logout button is a simple functionality which could have been added to that dashboard code too.

[2021-04-15 05:05] hardikvarshney commented on #93
Okay then I will add it in my another PR for issue #92.

[2021-04-15 05:06] hardikvarshney commented on #93
So, can I close this issue

[2021-04-15 05:55] rupeshmohanty commented on #93
No you can work it this time. But in future, try to complete this small features in the same issue.

[2021-04-15 16:09] #88 closed

[2021-04-15 16:47] arpit456jain opened #96 "[Gssoc'21] Back to top button"
**Is your feature request related to a problem? Please describe.**

As our website is getting bigger it should have a back to top button with smooth scrolling.
I would like to add it.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-04-15 18:27] #89 closed

[2021-04-15 18:51] arpit456jain opened #97 "Contributors section"
Recently i had seen in many websites there is contributors section in which username and pic of all contributors are listed .

We can also make a section for this i can write a loop in Java script for this .
All we have to do is make a arrays of all username and urls of user pics .

[2021-04-16 05:19] rupeshmohanty commented on #97
This already exists. You can check this in the readme file.

[2021-04-16 05:27] arpit456jain commented on #97
No I mean on the index.php page below about and above faq .

[2021-04-17 06:17] rupeshmohanty commented on #97
@arpit456jain This is not a requirement for this project for now. So am closing this issue.

[2021-04-17 06:17] #97 closed

[2021-04-17 06:18] #87 closed

[2021-04-17 06:20] arpit456jain commented on #97
Ok

[2021-04-17 06:51] arpit456jain commented on #28
@sakshi300699 @rupeshmohanty kindly assign this to me I will make a PR as soon as possible

[2021-04-17 09:47] #96 closed

[2021-04-17 09:52] rupeshmohanty commented on #28
@CoderGaurav01 Are you still working on this? Its been a long time. Should I assign this to someone else?

[2021-04-17 09:53] rupeshmohanty commented on #5
@arpit456jain You can work on this issue now!

[2021-04-17 09:54] #37 closed

[2021-04-17 09:56] rupeshmohanty commented on #58
@asmitsirohi Have you made a PR for this issue?

[2021-04-17 11:00] arpit456jain commented on #5
@rupeshmohanty I have a doubt in this .
For Now we can only see the projects which we add we can't see the project of all Am I right or am i missing something.??
I need some guidance  since php is not my field I had work in php a long ago but suerly i can try it.

Till now i made this have a look and tell i am on right path or going wrong

https://user-images.githubusercontent.com/55352601/1151106

[2021-04-17 12:31] CoderGaurav01 commented on #28
You may assign it to others

[2021-04-17 12:43] Inventor77 commented on #28
@rupeshmohanty Sir I was the one who Asked first so please Assign it  to me

[2021-04-17 12:45] arpit456jain commented on #28
@rupeshmohanty i am also interested in this issue i will make a PR in an hour

[2021-04-17 12:47] rupeshmohanty commented on #28
@arpit456jain @Inventor77 was the second person who asked to be assigned for this issue. So let's give him a shot.

[2021-04-17 12:52] arpit456jain commented on #28
Ok

[2021-04-17 14:06] rupeshmohanty commented on #5
According to the code you can see all the posts now. You can check that by creating a post from another account.

[2021-04-17 14:08] arpit456jain commented on #5
So my code is ok ??
May i create a pr for this ofcourse i will design the project description page better than this

[2021-04-17 14:10] rupeshmohanty commented on #5
Yeah make a better design and then you can put a PR.

[2021-04-17 16:20] asmitsirohi commented on #58
@rupeshmohanty sir, I creates a pull just now, i.e. pull request no. #99

[2021-04-19 08:27] #5 closed

[2021-04-19 09:07] arpit456jain commented on #9
@rupeshmohanty I think this is already done in my PR

[2021-04-19 11:27] arpit456jain opened #101 "bug in index.php"
**Describe the bug**
When the admin logged in and go on index.php the button is showing login instead of logout

https://user-images.githubusercontent.com/55352601/115229087-3aaf4800-a130-11eb-9b33-3c5634625d99.mp4

**Expected behavior**
It will show logout there and on clicking on that the admin should be logout

[2021-04-19 11:28] arpit456jain commented on #101
@rupeshmohanty kindly assign me this issue

[2021-04-19 13:51] rupeshmohanty commented on #101
@arpit456jain Admin login should not be connected to the user login page, Both user side and admin side should work parallely.

[2021-04-19 13:56] rupeshmohanty commented on #9
@BeAgarwal You can work on improving the UI of the page

[2021-04-19 14:19] arpit456jain commented on #101
Ok you can close to this issue for now 👍

[2021-04-19 15:19] arpit456jain commented on #101
@rupeshmohanty there is also one more bug

https://user-images.githubusercontent.com/55352601/115260777-adc8b680-a150-11eb-8332-4d5f613538a5.mp4

[2021-04-20 04:33] hardikvarshney commented on #93
#102

[2021-04-20 04:50] #64 closed

[2021-04-20 04:54] hardikvarshney opened #103 "Changes required in navbar on index.php(Home Page)."
1. Links on navbar are not in correct order.
2. Missing! "FAQ's" link on navbar.
3. There should be "Home" link on navbar, which is also missing.

[2021-04-20 08:39] arpit456jain opened #104 "Confirmation Alert for Logout"
I would like to add a confirmation alert for logout , like when user click on logout a alert will pop up like this
<img width="361" alt="sweet alert" src="https://user-images.githubusercontent.com/55352601/115365352-ed8bae80-a1e1-11eb-83c5-eb8dc1876ab1.png">

and it will ask  **Are You  sure You want to logout **  there will be two options cancel or Yes , Logout

[2021-04-20 12:53] arpit456jain commented on #9
@BeAgarwal Are you working on this issue??

[2021-04-20 12:56] arpit456jain commented on #9
https://user-images.githubusercontent.com/55352601/115399256-a1526580-a205-11eb-8d1e-700f6bb04ae9.mp4

@rupeshmohanty I had make some change in ui if you allow i would like to make a PR for this. Further ui can be enhanced by @BeAgarwal

[2021-04-20 14:00] rupeshmohanty commented on #101
@arpit456jain You gave the wrong URL, it should be /admin/admin_login.php

[2021-04-20 14:06] arpit456jain commented on #101
@rupeshmohanty i don't give the wrong url
There is wrong url is in code you can check it on your system .

[2021-04-20 14:06] rupeshmohanty commented on #9
Looks good. Make a PR for this.

[2021-04-20 14:08] arpit456jain commented on #101
I just try to access admin dashboard that's why i give the url for dashboard it should redirect me to login page

@rupeshmohanty

[2021-04-20 14:09] arpit456jain commented on #9
Ok

[2021-04-20 14:10] rupeshmohanty commented on #101
@arpit456jain See it works perfectly on my system!
![image](https://user-images.githubusercontent.com/43889891/115410382-36f2f280-a210-11eb-9665-3dc8c5816a3a.png)

[2021-04-20 14:13] arpit456jain commented on #101
@rupeshmohanty did you give the url

http://localhost/lesscolab/admin/admin_dashboard.php  ??

[2021-04-20 14:50] rupeshmohanty commented on #101
Are you trying to access the dashboard page from the URL?

[2021-04-20 14:53] arpit456jain commented on #101
Yes

[2021-04-20 15:36] rupeshmohanty commented on #101
Yeah you can put a check on the dashboard page which redirects the user to the admin-login if not logged in yet or redirects to the dashboard page if there is a session.

[2021-04-21 18:29] #104 closed

[2021-04-21 18:30] #9 closed

[2021-04-22 03:09] hardikvarshney commented on #103
#107

[2021-04-22 03:09] #93 closed

[2021-04-22 04:31] #101 closed

[2021-04-22 04:38] arpit456jain commented on #47
@sakshi300699 @rupeshmohanty  I would like to add a "Our Teams" section on index.php (home page) under this issue .,

 it will contain profile pic , name and all social media handlers with cool animations

[2021-04-22 16:25] Mukta-Sawant commented on #13
@rupeshmohanty I would like to work on this issue as a GSSOC'21 participant. Please assign it to me.

[2021-04-23 14:56] rupeshmohanty commented on #13
@Mukta-Sawant Done!

[2021-04-23 19:14] arpit456jain commented on #103
@hardikvarshney bro I think the pr related to this issue is already got merged so please close this issues

[2021-04-24 09:28] #103 closed

[2021-04-24 13:59] arpit456jain commented on #34
<img width="960" alt="cards" src="https://user-images.githubusercontent.com/55352601/115961216-0cb47400-a533-11eb-88c5-00dfa4eded85.png">

@rupeshmohanty I have tried to improve the ui of project cards its looking like this.

and there was a bug also . previously in the place of image of projects it was showing the image of profile pic of user.

I would like to make a PR for this and request to gi

[2021-04-24 14:09] arpit456jain commented on #34
<img width="960" alt="cards" src="https://user-images.githubusercontent.com/55352601/115961604-bc3e1600-a534-11eb-8875-8c2aea0fcbab.png">

[2021-04-24 14:10] arpit456jain commented on #34
@rupeshmohanty please let me know whether the image is visible or not

[2021-04-24 15:02] arpit456jain opened #108 "Delete button for project"
I would like to add a button for deleting projects

[2021-04-25 06:29] rupeshmohanty commented on #34
@arpit456jain Make a PR for this issue!

[2021-04-25 12:45] Raghad-Khaled opened #110 "Improve the UI of the Project Description (checkProject.php)"
**Describe the solution you'd like**
I will improve the Project Description to be Like the image below

**Additional context**
<img width="949" alt="OS" src="https://user-images.githubusercontent.com/60848147/115993794-ae3fd200-a5d4-11eb-9996-ced804883dfa.PNG">

[2021-04-25 12:52] Raghad-Khaled opened #111 "Register not get the user to his profile"
**Describe the bug**

When user Register that show message register successfully but not tack the user to his profile and need to login to do that and that is not good user experience.

I can fix this small Problem

[2021-04-25 16:08] arpit456jain commented on #111
I think its ok to login after registration as registration is a one time process so need to make it complicated .

[2021-04-25 17:36] RuchiGitHu opened #112 "Hover Effect, Bug, Logo size"
Describe the issue: 1. he navbar looks simple, this can be more creative and effective for user experience to add hover in navbar.
2. The content of landing page is mixing with image, the last two lines of content is going to mislead image.
3. Size of logo of website is too small then navbar at least and other content of website.

How to reproduce the issue: **I can add hover in navbar, Fix bug, c

[2021-04-26 03:58] hardikvarshney commented on #92
#113

[2021-04-26 04:08] hardikvarshney opened #114 "Generate report in admin panel."
There should be some functionality for admin by which he/she can view number of projects that were added by users in our website between some dates. And admin can print the generated report.

[2021-04-26 04:11] hardikvarshney opened #115 "Profile section for admin"
It will provide the facility of changing email, password and name of admin in admin panel.

[2021-04-27 10:06] srishtij2000 commented on #108
Can I work on this issue?

[2021-04-27 10:07] srishtij2000 commented on #13
Can I work on this issue?

[2021-04-27 10:53] arpit456jain commented on #108
i am working on this issue if i fail . i will let you know

[2021-04-27 12:01] ishubham21 commented on #110
You may work on this now!

[2021-04-27 12:06] ishubham21 commented on #112
Hi @RuchiGitHu! You can proceed with the issue, however, the hover action is not required. So please implement the rest of the changes.
Thank you.

[2021-04-27 14:28] #34 closed

[2021-04-27 14:50] rupeshmohanty commented on #115
@hardikvarshney Profile section for admin is not required for this project as the admin panel will be managed by a single person.

[2021-04-27 14:51] rupeshmohanty commented on #111
@Raghad-Khaled Its not required for the user to get logged in once he/she registers.

[2021-04-27 14:52] rupeshmohanty commented on #13
@srishtij2000 Someone is already working on this issue. You can work on some other issue.

[2021-04-27 16:57] arpit456jain opened #116 "Download sql data as csv"
I would like to add a button in admin panel for downloading data in contact in database as csv like this.

https://user-images.githubusercontent.com/55352601/116281550-7472f500-a7a7-11eb-9e27-2d3f0b828044.mp4

[2021-04-27 17:07] #58 closed

[2021-04-28 04:42] hardikvarshney commented on #114
#119

[2021-04-28 04:43] #92 closed

[2021-04-28 04:43] #115 closed

[2021-04-28 07:39] arpit456jain opened #120 "Download user data from db as csv file"
Admin can Download user data from mysql db as csv file like this

https://user-images.githubusercontent.com/55352601/116365339-c9a01c80-a822-11eb-9302-667d9ff7f1e3.mp4

[2021-04-29 09:11] #116 closed

[2021-04-29 09:13] #112 closed

[2021-04-29 10:36] arpit456jain commented on #120
@rupeshmohanty can i make a PR for this

[2021-04-29 16:02] rupeshmohanty commented on #120
Yes

[2021-04-29 16:05] #111 closed

[2021-04-30 05:29] #114 closed

[2021-04-30 16:35] #108 closed

[2021-04-30 18:02] arpit456jain commented on #28
@Inventor77 are you working on this issue.

@rupeshmohanty can I work on this issue .

[2021-04-30 18:05] arpit456jain opened #123 "Download All Projects Details from sql DB as csv file"
Download All Projects  Details from sql DB as csv file like contact and user details can be downloaded

[2021-04-30 18:05] arpit456jain commented on #123
@rupeshmohanty kindly assign me this issue

[2021-05-01 04:09] Inventor77 commented on #28
@arpit456jain Hello Arpit, I'm working on it sorry for being late on this.
Stay safe

[2021-05-01 04:17] arpit456jain commented on #28
ok no problem carry on @Inventor77

[2021-05-01 08:19] arpit456jain opened #125 "Better Error / Success Message"
Currently there was a same template for error and success and its very simple and dull I have implemented  a better ui for error and success message

see this
https://drive.google.com/file/d/1ksZ6KV4Tfm9hxs1tTqR6aH8w0VgUEE4I/view?usp=sharing

I would like to make a PR for this. and I hope It will get Level3 because Its very lengthy task as i have to replace all the previous messages from index.php

[2021-05-01 08:21] arpit456jain commented on #125
@rupeshmohanty kindly assign me this issue and give it level 3 if possible

[2021-05-01 13:31] ishubham21 commented on #110
Any updates @Raghad-Khaled?

[2021-05-01 13:32] ishubham21 commented on #67
Hey, what's the status of this issue?

[2021-05-01 15:59] #123 closed

[2021-05-02 06:50] #125 closed

[2021-05-02 09:38] arpit456jain opened #127 "Proper Step by Step Video for Project Set up"
I would like to add a link to a video in which I will demonstrate  the Project Set Up step by step from forking the repo to setting up database.
It will help a lot to those people who are working on this project first time and they are facing any issue in setting up project.

I will upload that video to my Google Drive or you can download that video and upload it to your GD and then give me the li

[2021-05-02 12:51] RuchiGitHu opened #128 "About Us block background color."
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/71754179/116813614-2d537e00-ab72-11eb-8012-bda702eb8367.png)
When we see about us, its looking like just content of it is written in website page but when we look carefully its in box which is not highlighted as it should be due to background color of box.

**Describe the solution

[2021-05-04 01:48] Raghad-Khaled commented on #110
@ishubham21
It is Done. pls check PR

[2021-05-04 05:30] ishubham21 commented on #110
Hey @Raghad-Khaled, can you please make a pull request for this issue again? I had mistakenly merged it into the code base without allowing the other mentors to approve it.
I regret your inconvenience.

[2021-05-04 16:36] rupeshmohanty commented on #128
@RuchiGitHu This is not a required issue.

[2021-05-04 16:41] #128 closed

[2021-05-04 18:43] arpit456jain commented on #47
@rupeshmohanty kindly give your reviews on this idea💡

[2021-05-04 21:11] Raghad-Khaled commented on #110
@ishubham21
How can i make the PR again

[2021-05-05 04:12] ishubham21 commented on #110
To make the PR again just follow the code:
1. git branch branch_name
2. git push -u origin branch_name
3. Go to your forked repository
4. Make a PR

[2021-05-05 13:46] rupeshmohanty commented on #47
@capblack222 Have you made any progress on this? It has been a long time you have been working on this issue.

[2021-05-06 05:11] arpit456jain opened #132 "New and better footer"
Ui enhancement in footer.
I would like to make footer more attractive and better than current one

[2021-05-06 11:50] arpit456jain opened #133 "Adding New Footer to Admin Login Page"
Adding New Footer to Admin Login Page

[2021-05-06 17:08] arpit456jain commented on #133
@rupeshmohanty kindly assign me this issue

[2021-05-06 17:58] #127 closed

[2021-05-07 17:30] arpit456jain opened #136 "Adding a Confirmation Alert Before Logging Out From Admin Dashboard"
Adding a Confirmation Alert Before Logging Out From Admin Dashboard like this
<img width="361" alt="alert" src="https://user-images.githubusercontent.com/55352601/117486941-f7eecc00-af87-11eb-968c-969a712a872c.png">

[2021-05-07 17:37] arpit456jain commented on #136
@rupeshmohanty I remember  I had added this alert in user dashboard but its not present there . Did anyone remove it intentionally ?

[2021-05-10 13:27] #132 closed

[2021-05-10 13:29] rupeshmohanty commented on #136
@arpit456jain Not sure if someone removed it or not. Can you implement it again?

[2021-05-10 13:53] arpit456jain commented on #136
Yes ofcourse @rupeshmohanty  should i creat 2 issue for implementing it on user dashboard and admin dashboard or should i implement it one issue?

[2021-05-10 14:23] arpit456jain opened #137 "Adding confirmation alert before logout in user dashboard"
Adding confirmation alert before logout in user dashboard

[2021-05-10 16:09] arpit456jain commented on #47
@rupeshmohanty what do you think about **our teams member** section

[2021-05-10 16:56] arpit456jain opened #140 "Bug in User Dashboard"
**Describe the bug**
Due to some common css between alert and modal modal is affected a little bit see this

https://user-images.githubusercontent.com/55352601/117696270-b86ded00-b1de-11eb-8378-779aace5468d.mp4

I have fixed this just needed the confirmation for making a PR

[2021-05-11 11:03] subhangi2731 opened #141 "Setting up Eslint in the project and make the code prettier"
I would like to lint the code and make the code look prettier by setting up Eslint in project. Please assign me this issue

[2021-05-11 11:05] subhangi2731 commented on #141
@ishubham21 please assign me this issue

[2021-05-11 11:08] subhangi2731 commented on #67
@ishubham21 can I work on this issue?

[2021-05-11 13:44] arpit456jain commented on #47
To know about project admin and mentors because when it will host no one knows who is the admin and mentors .

It will contain the Details of the persons who are handling this website it will contain pic,name description and social media links

[2021-05-12 13:59] #137 closed

[2021-05-12 13:59] #136 closed

[2021-05-13 15:11] #140 closed

[2021-05-13 15:12] rupeshmohanty commented on #28
@Inventor77 Any progress?

[2021-05-13 15:13] Inventor77 commented on #28
@rupeshmohanty Sorry sir, but i will not be able to Work on it please assign this issue  to @arpit456jain

[2021-05-13 15:16] rupeshmohanty opened #143 "Admin can Approve or Reject posts"
**Is your feature request related to a problem? Please describe.**
Once an user posts some project on the site, then it should be listed as `Pending` in the database and then after it is approved in the admin dashboard side, then only it should be posted in the application.

**Describe the solution you'd like**
Create a separate page in the admin dashboard panel where the admin can check all the p

[2021-05-13 15:16] rupeshmohanty commented on #28
@Inventor77 Okay no problem!

[2021-05-13 15:18] rupeshmohanty commented on #47
@arpit456jain You can make another issue for this.

[2021-05-13 15:22] arpit456jain commented on #47
Ok

[2021-05-14 08:42] arpit456jain opened #144 "Our Team Section"
Our Tams Section on home page It will look like this

https://user-images.githubusercontent.com/55352601/118245401-60750600-b4be-11eb-8cbc-51e32343c34e.mp4

[2021-05-14 08:43] arpit456jain commented on #144
@rupeshmohanty can I make a PR for this

[2021-05-14 11:49] rupeshmohanty commented on #144
@arpit456jain Yes you can

[2021-05-15 13:23] #144 closed

[2021-05-15 21:16] #28 closed

[2021-05-16 12:54] arpit456jain opened #147 "Adding the navbar to admin Login and resolve console errors"
My main motive for this issue is adding navbar in admin login when i checked console there were lots of errors
<img width="960" alt="error" src="https://user-images.githubusercontent.com/55352601/118397882-bd65ed00-b673-11eb-8518-fe0f9c6517cc.png">

So under this issue i will work on

1. Adding navbar
2. Resolving errors

**2 issue in one for saving time of all of us**

[2021-05-16 12:58] arpit456jain opened #148 "Adding a navbar in Admin Login so that admin can go to any page easily"
Adding a navbar in Admin Login so that admin can go to any page easily

[2021-05-16 15:09] arpit456jain commented on #147
@rupeshmohanty kindly Assign me this

[2021-05-16 16:15] arpit456jain commented on #147
@rupeshmohanty no lvl label ?

[2021-05-16 16:18] rupeshmohanty commented on #147
@arpit456jain Give me some time. I will assign a level to this issue

[2021-05-16 16:20] arpit456jain commented on #147
Ok @rupeshmohanty  😅
Sorry for the inconvenience

[2021-05-19 02:02] arpit456jain opened #151 "Adding footer in checkproject.php page"
Adding footer in checkproject.php page

[2021-05-19 02:26] arpit456jain opened #152 "Sweet Alert before Deleting the Project"
Sweet Alert before Deleting the Project

[2021-05-19 02:30] arpit456jain commented on #152
@rupeshmohanty kindly assing me this and review my PR

[2021-05-19 02:38] arpit456jain opened #154 "adding a navbar in admin Dashboard"
adding a navbar in admin Dashboard

[2021-05-19 18:08] #148 closed

[2021-05-21 08:57] #151 closed

[2021-05-21 08:58] #152 closed

[2021-05-23 08:41] #154 closed

[2021-05-23 09:31] arpit456jain opened #157 "Adding Dark mode in Admin Login"
Adding Dark mode in Admin Login

[2021-05-23 09:53] arpit456jain opened #159 "Adding navbar in Check Project page with darkmode Toggle button"
Adding navbar in Check Project page with darkmode Toggle button

[2021-05-23 10:10] arpit456jain commented on #159
@rupeshmohanty kindly assign me and review my PR

[2021-05-23 10:10] arpit456jain commented on #157
@rupeshmohanty kindly assign me and review my PR

[2021-05-24 13:32] arpit456jain opened #161 "show password feature in admin login"
show password feature in admin login

[2021-05-24 15:37] #159 closed

[2021-05-24 15:38] #157 closed

[2021-05-24 15:57] rupeshmohanty commented on #161
Can you please explain more the feature you are trying to implement?

[2021-05-24 16:06] arpit456jain commented on #161
show password check box like we have in login on home page
@rupeshmohanty I upoaded a video for the same

[2021-05-25 16:29] #161 closed

[2021-05-25 18:12] arpit456jain opened #164 "Responsiveness of check project.php page"
Responsiveness of check project.php page currently its like this
![screencapture-localhost-LesKollab-Explore-checkProject-php-2021-05-25-23_42_09](https://user-images.githubusercontent.com/55352601/119547582-e9d7e280-bdb2-11eb-9969-6f2704e77043.png)

[2021-05-25 18:27] arpit456jain commented on #164
and the toggle button for dark mode is also covering  toggle button for drop-down
<img width="960" alt="bug" src="https://user-images.githubusercontent.com/55352601/119549495-e7768800-bdb4-11eb-8c26-bf0cd214c29e.png">

[2021-05-26 10:01] Ananya-Misra opened #166 "Add responsiveness to index.php"
I would like to add responsiveness to the index.php
![Untitled](https://user-images.githubusercontent.com/70848031/119648611-4c76c000-be3f-11eb-9f2d-7e0dfdc9d944.png)

[2021-05-26 11:09] prathamesh3707 commented on #166
Can , you assign it to me?

[2021-05-26 11:15] Ananya-Misra opened #167 "Enhancing the UI of user_info.php"
I want to enhance the UI of the user_info.php and add animations to the Github and Linkedin icons cause they are looking very plain right now. Please assign this to me.

![Untitled2](https://user-images.githubusercontent.com/70848031/119652194-67e3ca00-be43-11eb-9707-372e8c0082aa.png)

[2021-05-26 11:16] Ananya-Misra commented on #166
@prathamesh3707 I have created this issue so that it could be assigned to me.

[2021-05-26 11:19] prathamesh3707 commented on #166
ok , np

[2021-05-26 17:50] arpit456jain opened #168 "Adding Dark mode in Admin Dashboard"
Adding Dark mode in Admin Dashboard

[2021-05-28 17:17] #164 closed

[2021-05-28 17:18] #168 closed

[2021-05-29 18:59] #167 closed

[2021-05-29 19:00] #166 closed

[2021-05-30 07:57] arpit456jain opened #172 "Adding Hovering Animation"
Adding Hovering Animation

[2021-05-30 20:30] #172 closed

[2021-05-31 14:10] Raghad-Khaled commented on #110
I do it :)
@ishubham21

[2021-09-13 03:55] Vee339 commented on #143
Is anybody started working on it???

[2021-09-17 17:12] Vee339 opened #176 "Menu tabs in center"
Hi, in the current design when we hover menu tabs, they are not in the center. Can I fix it?
![chrome_txs9sQGf6x](https://user-images.githubusercontent.com/81091817/133827674-c747bbf2-c50b-49b9-a07d-ea5783bf2562.png)